

.results_item div {
	page-break-inside: avoid;
	break-inside: avoid;
}

.results_item div {
	height: auto !important;
	//display: block !important;
	page-break-inside: avoid;
	break-inside: avoid;
	position: relative !important;
}



align-content: center center;
	align-items: stretch;
	aspect-ratio: 1;
	aspect-ratio: 1;
	background-color: #aa007f;
	background-color: #005500;
	border: 1px solid red;
	border: 1px solid white;
	border: 1px solid white;
	border: 0.1vw solid red;
	border-radius: 1em;
	border: 0.2vw solid #ff0000;
	border: 0.2vw solid #ffff00;
	border: 0.2vw solid #ff0000;
	border: 0.2vw solid #00ff00;
	color: red;
	display: inline-block;
	display: block;
	display: inline-flex;
	float: left;
	font-weight: bold;
	grid-column: auto / -1;
	height: 6vh;
	height: 6vh;
	height: 6vh;
	margin: 0.2vw 0.2vw 0.2vw 0.2vw;
	margin: 0.7vw;
	margin-left: 1vh;
	margin: 1vw;
	margin: 0.7vw;
	padding: 1em 1em;
	padding-left: 1vw;
	position: relative;

	scrollbar-color: #ff0000;

@media (min-width: 600px) and (orientation:landscape) {
}

.results_item {
	max-height: 100vh;
	overflow-y: scroll;
	scrollbar-color: #ff0000;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row: auto;
	border: 0.2vw solid #ffff00;
	background-color: #0b142c;
}

.results_item {
	display:block;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
	font-size:1em;

	max-height: 100vh;
	overflow-y: scroll;
	border: 0.2vw solid #ffff00;
	background-color: #0b142c;
}

	.is_button, .search_area_button, .end_of_verses, .end_of_content, .adapt_menu_bar, .adapt_item, .adapt_menu, .adapt_menu_pop, .begin_of_content, .aux_item, .download_bar, .copyright_item {

	html, body, .grid_tool, .tool_content, .search_area_grid, .is_button, .search_area_button, .end_of_verses, .end_of_content, .adapt_menu_bar, .adapt_item, .adapt_menu, .adapt_menu_pop, .begin_of_content, .aux_item, .download_bar, .copyright_item {
		height: auto !important;
		overflow: visible !important;
		overflow-x: visible !important;
		overflow-y: visible !important;
		display: block !important;
		position: relative !important;
		max-height: none !important;
		min-height: none !important;
	}

