<div id="id_author_info" class="copyright_item">
<h4>Autor</h4>
<p>Jose Luis Quiroga Beltrán. Cédula. 79.523.732 de Bogotá Colombia.</p>
<p>
    <a href="http://joseluisquiroga.github.io/">joseluisquiroga.github.io</a><br>
    <a href="http://SeBiblia.github.io/">SeBiblia.github.io</a><br>
</p>
<h4>Copyright y Derechos de Autor: 2024-2026.</h4>
<p>
    El codigo es OpenSource (codigo abierto).<br>
    Licenses:<br>
    <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPL v3.0</a><br>
</p>
</div>
