
{{> ../all_mustache/empty_top}}

<div id="id_tool_content" class="tool_content">
<div id="id_pop_opt_sec"></div>

<!--
<div class="begin_of_content"></div>
<h1 class="big_title">Selector Biblico Strong</h1>
-->

<div class="grid_tool">
	<div id="id_menus" class="grid_menus">
		<div id="id_old_test" class="bib_item is_option">
		WLC
		</div>
		<div id="id_new_test" class="bib_item is_option">
		BYZ
		</div>
		<div id="id_loc_bib" class="bib_item is_option">
		SBLM
		</div>
		<div id="id_rx_tgt" class="bib_item is_option">
		LOC
		</div>
	</div>
	<div id="id_search" class="input_item">
	</div>
	<div id="id_select" class="search_area">
		<div class="search_area_grid">
			<div id="id_repeat_butt" class="search_area_button"><i class='has_icons icon-undo-4'></i></div>
			<div id="id_back_butt" class="search_area_button"> &#60 </div>
			<div id="id_search_butt" class="search_area_button"> ENCUENTRA </div>
			<div id="id_forward_butt" class="search_area_button"> &#62 </div>
		</div>
	</div>
	<div id="id_verses" class="results_item">
	ENCONTRADOS
	</div>
	{{> footer}}
</div>

<div id="id_end" class="end_of_content">
</div>

</div>

<script type="module">
import * as srch_mgr from '../code/sf_search_mgr.js';
window.onload = function() {
	srch_mgr.start_srch_mgr("es");
}
</script>

</body>
</html>

